@model List<web.Models.CellModel>

<!DOCTYPE html>
<html>
<head>
    <style>
        #minesweeper-grid {
            display: grid;
            grid-template-columns: repeat(10, 30px);
            grid-template-rows: repeat(10, 30px);
        }

        .cell {
            width: 30px;
            height: 30px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <form action="@Url.Action("StartGame", "Home")" method="post">
        <button type="submit">Start game</button>
    </form>
    <form action="@Url.Action("LoadGame", "Home")" method="post">
        <button type="submit">Load game</button>
    </form>
    <div id="minesweeper-grid">
        @if (Model != null)
        {
            @foreach (var cell in Model)
            {
                <div class="cell" data-row="@cell.Vertical" data-col="@cell.Horizontal">
                    <form action="@Url.Action("CellClick", "Home")" method="post">
                        <input type="hidden" name="row" value="@cell.Vertical" />
                        <input type="hidden" name="col" value="@cell.Horizontal" />
                        @if(cell.IsVisible == 1)
                        {
                            if (cell.IsMine == 1)
                            {
                                <button type="submit" name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: red;"></button>
                            }
                            else
                            {
                                <button type="submit" name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: gray;">@cell.MinesAroundCell</button>
                            }
                        }
                        else
                        {
                            <button type="submit" name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: white;"></button>
                        }

                    </form>
                </div>
            }
        }

    </div>
</body>
</html>