@model web.Models.FieldModel
<!DOCTYPE html>
<html>
<head>
    <title>Minesweeper</title>
    <style>
        #minesweeper-grid {
            display: grid;
            grid-template-columns: repeat(10, 30px);
            grid-template-rows: repeat(10, 30px);
        }

        #model {
            display: flex;
            flex-direction: column;
        }

        .cell {
            width: 30px;
            height: 30px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>

    <form action="@Url.Action("StartGame", "Home")" method="post">
        <button type="submit">Start game</button>
    </form>
    <form action="@Url.Action("LoadGame", "Home")" method="post">
        <button type="submit">Load game</button>
    </form>
    <div id="model">
        @if (Model != null)
        {
            if (Model.GameStatus != "In progress")
            {
                <h2> @Model.GameStatus</h2>
                <div id="minesweeper-grid">
                    @for (int i = 0; i < Model.field.GetLength(0); i++)
                    {
                        for (int j = 0; j < Model.field.GetLength(1); j++)
                        {
                            var cell = Model.field[i, j];
                            if (cell != null)
                            {
                                <div class="cell" data-row="@cell.Horizontal" data-col="@cell.Vertical">
                                    <form method="post">
                                        @if (cell.IsVisible == 1)
                                        {
                                            if (cell.IsMine == 1)
                                            {
                                                <div name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: red;"></div>
                                            }
                                            else
                                            {
                                                <div name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: gray;">@cell.MinesAroundCell</div>
                                            }
                                        }
                                        else
                                        {
                                            <div name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: white;"></div>
                                        }
                                    </form>
                                </div>
                            }
                        }
                    }
                </div>

            }
            else
            {
                <div id="minesweeper-grid">
                    @foreach (var cell in Model.field)
                    {
                        <div class="cell" data-row="@cell.Horizontal" data-col="@cell.Vertical">
                            <form action="@Url.Action("CellClick", "Home")" method="post">
                                <input type="hidden" name="row" value="@cell.Vertical" />
                                <input type="hidden" name="col" value="@cell.Horizontal" />
                                @if (cell.IsVisible == 1)
                                {
                                    if (cell.IsMine == 1)
                                    {
                                        <button type="submit" name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: red;"></button>
                                    }
                                    else
                                    {
                                        <button type="submit" name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: gray;">@cell.MinesAroundCell</button>
                                    }
                                }
                                else
                                {
                                    <button type="submit" name="cell" value="@cell.Vertical,@cell.Horizontal" class="cell" style="background-color: white;"></button>
                                }

                            </form>
                        </div>
                    }
                </div>
            }
        }

    </div>
</body>
</html>